body {
  margin: 0;
  font-family: "Monaco", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3A2E39;
  
}

nav {
  height: 3ch;
  width: 100%;
  background-color: #F4D8CD;
  color: #3A2E39;
  font-weight: 600;
  font-size: 5ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}

.content {
  max-width: 500px;
  margin: auto;
}
